/* PC HD */
@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .item__action .action__like img {
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  .action__rating .rating__star img {
    width: 10px;
    height: 10px;
  }

  .action__rating .rating__info {
    font-size: 1rem;
  }
}

/* Mobile % Tablet */
@media only screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }

  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }

  .main__content {
    padding: 8px 0;
  }

  /* menu mobile */
  .menu-mobile img {
    display: block;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }

  .header-with-search .header__cart {
    margin-right: 16px;
  }
  .header__cart .cart__cart-list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
    transform: translateY(50px);
    border-radius: 0;
  }

  .header__cart:hover .cart__cart-list {
    transform: translateY(0);
  }

  .main__container {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .header__cart .cart__cart-list:before {
    display: none;
  }

  .header__sort-bar {
    display: flex;
  }

  .header__cart:active .cart__cart-list {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  /* category */
  .mobile-category {
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header-with-search .header__cart {
    margin-left: 80px;
  }

  .mobile-category .mobile-category__list {
    padding-left: 16px;
  }
}
/* Mobile */
@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
  .header__logo .logo__img {
    width: 110px;
  }

  .main__content {
    margin: 0 4px;
  }

  .header-with-search {
    justify-content: space-between;
  }

  .header-with-search .header__logo {
    width: unset;
  }

  .header-with-search .header__cart {
    margin-left: 0;
  }

  .header__cart .cart__header-cart-icon {
    width: 3rem;
    height: 3rem;
  }

  .header-with-search .header__cart::after {
    height: 14px;
    padding: 2px 4px 0;
  }

  .header__mobile-search {
    display: block;
  }

  .header-with-search .header__search {
    visibility: hidden;
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0px;
    right: 0px;
    height: var(--header-sort-bar-height);
    z-index: 0;
    padding: 0 16px;
    border-radius: unset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .mobile-search-checkbox:checked ~ .header__search {
    visibility: visible;
    top: var(--header-height);
    opacity: 1;
    z-index: 1;
  }

  .search__content-right .content-right__img {
    width: 100%;
    height: 100%;
    padding: 6px 16px;
  }

  .header__search .search__history {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height) + 50px);
    width: 100%;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-top: 10px;
  }

  .search__search_input_wrap:focus-within .search__history {
    visibility: visible;
    opacity: 1;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
  }
  .item-link__item-info .item-info__name {
    width: 140px;
  }

  /* pagination */

  .pagination .pagination-item {
    margin: 0;
  }

  .pagination-item .pagination-item__link {
    --height: 28px;
    font-size: 1.6rem;
    min-width: 36px;
  }

  .footer__content {
    padding: 0 8px;
  }

  .footer__heading,
  .footer-item__link {
    text-align: center;
  }

  .footer-item__link {
    justify-content: center;
    text-align: center;
  }
  .footer__download {
    justify-content: center;
  }
}
